# Pandas

In [2]:
# Import libraries

import pandas as pd
import numpy as np

In [4]:
# load dataset from csv
df=pd.read_csv(r'C:\Users\singh\Desktop\Python Practice\movie_metadata.csv')

In [28]:
# Display first five row
df.head(5)

#Dropping NaN
df1=df.dropna(axis=0)
df1.head(5)

#Displaying column 'color'
df1.get(['color']).head(5)

   color
0  Color
1  Color
2  Color
3  Color
5  Color

In [35]:
df1.columns
df1[['color', 'director_name']].head(5)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3756 entries, 0 to 5042
Data columns (total 28 columns):
color                        3756 non-null object
director_name                3756 non-null object
num_critic_for_reviews       3756 non-null float64
duration                     3756 non-null float64
director_facebook_likes      3756 non-null float64
actor_3_facebook_likes       3756 non-null float64
actor_2_name                 3756 non-null object
actor_1_facebook_likes       3756 non-null float64
gross                        3756 non-null float64
genres                       3756 non-null object
actor_1_name                 3756 non-null object
movie_title                  3756 non-null object
num_voted_users              3756 non-null int64
cast_total_facebook_likes    3756 non-null int64
actor_3_name                 3756 non-null object
facenumber_in_poster         3756 non-null float64
plot_keywords                3756 non-null object
movie_imdb_link              3756 non-null object
num_user_for_reviews         3756 non-null float64
language                     3756 non-null object
country                      3756 non-null object
content_rating               3756 non-null object
budget                       3756 non-null float64
title_year                   3756 non-null float64
actor_2_facebook_likes       3756 non-null float64
imdb_score                   3756 non-null float64
aspect_ratio                 3756 non-null float64
movie_facebook_likes         3756 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 851.0+ KB

In [42]:
# Value extracting in usning numpy array
val=df1.values
val[:5,:].shape

(5, 28)